[Unit]
Description=PiCloud Docker Swarm bootstrap
Requires=docker.service
#After=network.target

[Service]
Type=oneshot
User=pirate
Group=pirate
ExecStart=/home/pirate/picloud-bootstrap.sh
RemainAfterExit=true
ExecStop=/home/pirate/destroy-swarm.sh
StandardOutput=journal

[Install]
WantedBy=multi-user.target
